<h1>Posts list</h1>
<div class="posts-list">
  <% @posts.each do |post| %>
  <div class="post-item">
    <div>
      <h2 class="post-text"><%= post.title %></h2>
      <p class="post-text">
        <%= simple_format(truncate(post.text, length: 300)) %>
      </p>
      <div class="btn-container">
        <%= link_to  "Edit", edit_post_path(post), class: "btn" %>
        <%= link_to  "Delete", post_path(post), class: "btn danger", method: :delete, data: { confirm: "Are you sure?" } %>
      </div>
    </div>
  </div>
  <% end %>
</div>