<nav class="header">
  <%= link_to  "Rails", root_path, class: "logo" %>
  <div class="links">
    <ul>
      <li>
        <%= link_to  "Create post", new_post_path %>
      </li>
      <li>
        <%= link_to  "Posts list", posts_path %>
      </li>
    </ul>
  </div>
</nav>